root{
    --color1: #265a63;
    --colorIni1:#006d77;
    --colorSec2: #83c5be;
    --colorTerc3: #edf6f9;
    --colorfour4: #ffddd2;
    --colorfive5: #e29578;
  }


  
.customc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sty{
   justify-content: center;
    background-color: rgb(206, 206, 206);
    width: 10%;
    margin-bottom: 5%;
    

   
}



.boton{
    display: flex;
    justify-content: center;
    
}

.boton button{
    background-color: var(--color1) ;
    color: white;
    width: 150%;
}
button:hover{
    background-color: var(--colorSec2);

}

.cc{
    padding-top: 2%;
}

